html {
    scroll-behavior: smooth;
}

#home {
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(255, 255, 255, .1) 80%,
                                rgba(224, 224, 224, 1) 90%),
                                url(../img/apple-croped.jpg) no-repeat;
    background-size: 100% auto;
}

.openNavbar {
    width: 40vw!important;
    left: 0!important;

    #NavbarIcon {
        left: 44%!important;
    }
}

.closeNavbar {
    transition: 0.5s;
    position: fixed;
    left: -41%;
    top: 0;
    background: linear-gradient(to right,rgba(102, 102, 102, 1), rgba(102, 102, 102, .7));
    width: 40vw;
    height: 100vh;
    z-index: 1;

    #NavbarIcon {
        transition: 0.5s;
        position: fixed;
        left: 4%;
        top: 4%;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            color: white;
            font-size: 1.5em;
            text-align: center;
            padding: 3vw;
            box-shadow: -2px 1px 5px black;
            font-family: Unna;
            text-shadow: 1px 1px 2px black;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}



#namePic {
    width: 100%;
    padding-top: 11%;
    margin-top: 7vh;
    text-align: center;
}

.ppic {
    width: 27%;
    margin-top: 7vw !important;
    margin: auto;
    margin-bottom: 4%;
    display: block;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
}

h1 {
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
}

#slogan {
    font-family: Zilla Slab;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 73%;
}

.arrow {
    position: absolute;
    bottom: 5%;
    margin: auto;
    left: 40%
}

.btn {
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    width: 45%;
}

.titles {
    font-family: "Patua One";
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
}

.card {
    background: #c4c4c4;
}

.card-text {
    font-family: Unna;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
}

.card-body {
    border-radius: 0 0 10px 10px;
    .tech {
        display: inline-block;
        font-size: .8em;
        width: auto;
        padding: 6px;
    }
}

.card-img-top {
    padding: 2%;
    min-height: 30vh;
}

.clear-fix {
    content: "";
    display: table;
    clear: both;
}

#portfolioTitle {
    font-size: 3em;
}
#portfolio {
    margin-top: -1px!important;
    background: rgb(224, 224, 224);
    height: 100vh;
    .main-content {
        width: 80%;
        padding: 10vh 0 0 0;
        margin: auto;

        h2 {
            text-align: center;
        }

        .card {
            width: auto!important;
            margin: 4vh auto;
            position: inherit;
        }
    }
}

.aboutMe {
    height: 98vh;
}

#aboutme {
    margin-top: 2vh;
    font-size: 3em;
}

#aboutMePic {
    width: 45%;
    margin-top: 5vh !important;
    margin: auto;
    margin-bottom: 4vw;
    display: block;
    border: 2px solid #666;
    padding: 5px;
    border-radius: 5px;
}

.unna {
    margin-top: 5vh;
    font-family: Unna;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 1.3em
}

.unnaBold {
    margin-top: 5vh;
    font-family: Unna;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 5vh;
}

#contact {
    display: block;
    margin: 0 auto 10vh auto;
}

footer {
    position: relative;
    bottom: calc(100vh - 95vh);
    height: 6vh;
    background: #2323;
    margin-bottom: -5vh;

    p {
        text-align: center;
        font-size: 1.2em;
        line-height: 6vh;
        margin-bottom: 0!important;
        font-family: Unna;
    }
}

@media (max-width: 650px) {
    .unna {
        font-size: 1.3em;
    }
}