{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Unna" />
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patua+One|Ropa+Sans|Zilla+Slab&display=swap" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<div id="home">
    <div class="closeNavbar" id="side-bar">
        <img src="{% static 'img/open-navbar.svg' %}" alt="Open Navvar" id="NavbarIcon">
        <ul>
            <a href="#"><li>Home</li></a>
            <a href="#portfolio"><li>Portfolio</li></a>
            <a href="#technologies"><li>Technologies</li></a>
            <a href="#aboutme"><li>About Me</li></a>
            <li id="contactMe">Contact Me</li>
        </ul>
    </div>

    <div class="desktopBar" id="fix-nav-bar">
        <ul>
            <a href="#"><li id="hm">Home</li></a>
            <a href="#portfolio"><li>Portfolio</li></a>
            <a href="#technologieshr"><li>Technologies</li></a>
            <a href="#aboutmehr"><li>About Me</li></a>
            <li id="contactMeD">Contact Me</li>
        </ul>
    </div>
    
    <div id="namePic">
        <img src="{% static 'img/square-ppic.jpg' %}" class="ppic">
        <h1>Edgar Salgado</h1>
        <h3 id="slogan">Front End Web Developer | 
                        passionate pythonista</h3>
        <a href="#portfolio"><img src="{% static 'img/VectorDownArrow.svg' %}" class="arrow"></a>
    </div>
</div>
<div id="portfolio" class="clear-fix">
 <div class="main-content">
    <h2 class="titles" id="portfolioTitle">Portfolio</h2>
    <div id="cards">
      {% for project in projects %}
      <div class="card">
          <img src="{{ project.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title titles">{{ project.title }}</h5>
              {% for tech in project.technology.split %}
              <h6 class="btn btn-dark tech">{{ tech }}</h6>
              {% endfor %}
              <p class="card-text">{{ project.description }}</p>
              <a href="{{ project.view_url }}" class="btn btn-secondary" target="_blank">View</a>
              <a href="{{ project.code_url }}" class="btn btn-secondary right" style="float:right" target="_blank">Code</a>
          </div>
      </div>
      {% endfor %}
      <hr>
    </div>
    <div class="wrapper">
      <span id="technologieshr" class="anchor" ></span>
      <h2 class="titles" id="technologies">Technologies</h2>
      <div id="mobile-skillset">
        <div class="skillset">
            <h3>Git</h3>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>SASS</h3>
            <span class="half"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>Python</h3>
            <span class="half"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>Django</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>HTML5</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>CSS3</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>JS</h3>
            <span class="empty"></span>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>C</h3>
            <span class="empty"></span>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>



      <div id="desktop-skillset">
        <div class="skillset">
            <h3>Git</h3>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <div class="skillset">
            <h3>HTML5</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>SASS</h3>
            <span class="half"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>CSS3</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

         <div class="skillset">
            <h3>Python</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>JS</h3>
            <span class="empty"></span>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>Django</h3>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="skillset">
            <h3>C</h3>
            <span class="empty"></span>
            <span class="empty"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>
    
      <hr>
      <div class="certificates clear-fix">
        <h2 class="titles" id="certificate">Certificates</h2>
        <div class="certificate">
          <p>HarvardX PH526x: Using Python for Research</p>
          <a href="https://courses.edx.org/certificates/5d256b22f107486aa552687e23a9f47e" target="_blank"><button class="btn btn-secondary">View</button></a>
        </div>     
      </div>
      <hr>

      <span id="aboutmehr" class="anchor" ></span>
      <div class="aboutMe clear-fix">
          <h2 class="titles" id="aboutme">About Me</h2>
          <img src="{% static 'img/square-ppic.jpg' %}" id="aboutMePic">
          <p class="unna">I'm a developer who's always in the path of learning,
          challenging myself in order to bring the best quality project 
          in the shortest amout of time I possibly can without sacrificing quality.
          </p>
          <p class="unnaBold">Have a project in mind and need a hand to make it happen?</p>
          <a href="#" class="btn btn-secondary" id="contact" data-toggle="modal" data-target="#contactModal">Contact Me</a>
      </div>
  </div>

  <footer>
      <p>&copy All rights reserved</p>
  </footer>
 </div>
</div>





<!-- Contact modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contact Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" placeholder="First name" id="firstName" name="first_name" required>
              </div>
              <div class="col">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" id="lastName" name="last_name" required>
              </div>
            </div>

            <div class="form-group">
              <label for="InputEmail1" id="emailaddress">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="mail" required>
              <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
            </div>

          <label for="contatMessage">Message</label>
          <textarea type="text" class="form-control" placeholder="Message" id="contatMessage" name="message" required></textarea>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
        <input type="submit" class="btn btn-success" id="sendForm" value="submit">
      </div>
      </form>
    </div>
  </div>
</div>


{% comment %} 
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div> {% endcomment %}
{% endblock %}