{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Unna" />
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patua+One|Ropa+Sans|Zilla+Slab&display=swap" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<div id="home">
    <div class="closeNavbar" id="side-bar">
        <img src="{% static 'img/open-navbar.svg' %}" alt="Open Navvar" id="NavbarIcon">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#aboutme">About Me</a></li>
            <li>Technologies</li>
            <li>Contact Me</li>
        </ul>
    </div>
    
    <div id="namePic">
        <img src="{% static 'img/square-ppic.jpg' %}" class="ppic">
        <h1>Edgar Salgado</h1>
        <h3 id="slogan">Front End Web Developer | 
                        passionate pythonista</h3>
        <a href="#portfolio"><img src="{% static 'img/VectorDownArrow.svg' %}" class="arrow"></a>
    </div>
</div>
<div id="portfolio" class="clear-fix">
 <div class="main-content">
    <h2 class="titles" id="portfolioTitle">Portfolio</h2>
    {% for project in projects %}
    <div class="card">
        <img src="{{ project.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title titles">{{ project.title }}</h5>
            {% for tech in project.technology.split %}
            <h6 class="btn btn-dark tech">{{ tech }}</h6>
            {% endfor %}
            <p class="card-text">{{ project.description }}</p>
            <a href="#" class="btn btn-secondary">View</a>
            <a href="#" class="btn btn-secondary right" style="float:right">Code</a>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="aboutMe clear-fix">
        <h2 class="titles" id="aboutme">About Me</h2>
        <img src="{% static 'img/square-ppic.jpg' %}" id="aboutMePic">
        <p class="unna">I'm a developer who's always in the path of learning,
         challenging myself in order to bring the best quality project 
         in the shortest amout of time I possibly can without sacrificing quality.
        </p>
        <p class="unnaBold">Have a project in mind and need a hand to make it happen?</p>
        <a href="#" class="btn btn-secondary" id="contact">Contact Me</a>
    </div>
 </div>
 <footer>
    <p>&copy All rights reserved</p>
 </footer>
</div>
{% comment %} 
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div> {% endcomment %}
{% endblock %}